<style>
    .col-lg-6 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .col-lg-12 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>

<div class="bg-light">
    <div class="row bg-info">
        <div class="col-lg-12 text-center">
            <h2 class="display-4 text-dark"> Saber Chat Admin</h2>
            <p><span id="errorMsgAdmin"></span></p>
            <p><span id="annoucementAdmin"></span></p>
            <p><span id="socketLabelAdmin" class="text-dark"></span></p>
        </div>
    </div>
    <div class="row">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>


<script src="~/dist/admin.bundle.js" asp-append-version="true"></script>