<style>
    #admin {
        height: 100vh;
        padding-left: 30px;
        padding-right: 30px;
    }
</style>

<div id="admin" class="bg-light">
    <div id="alertsRow" class="row bg-secondary text-light">
        <div class="col text-center">
            <div id="annoucementAdmin" class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Meeting Status</h4>
            </div>
        </div>
        <div class="col text-center">
            <div id="socketLabelAdmin" class="alert alert-secondary" role="alert">
                <h4 class="alert-heading">Websocket Status</h4>
            </div>
        </div>
    </div>
    <div id="commandRow" class="row">
        <div class="col-lg-12 text-center">
            <button id="newUser" type="button" class="btn btn-info" disabled>Create New User</button>
            <button id="changeBg" type="button" class="btn btn-info" disabled>Change Background</button>
        </div>
    </div>
</div>


<script src="~/dist/admin.bundle.js" asp-append-version="true"></script>
