<style>
    #renderCanvas {
       height: 100%;
       width: 95%;
    }
    #vidChat {
        height: 100vh;
    }
</style>

<div id="vidChat" class="bg-light">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3><span id="errorMsg"></span></h3>
            <h3><span id="annoucement"></span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <button id="start" type="button" class="btn btn-primary" disabled>Start Meeting</button>
            <button id="stop" type="button" class="btn btn-secondary" disabled>End Meeting</button>
            <button id="newUser" type="button" class="btn btn-info" disabled>Create New User</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <canvas id="renderCanvas"></canvas>
        </div>
    </div>
</div>

<script src="~/dist/client.bundle.js" asp-append-version="true"></script>
