
<style>
    .col-lg-6 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .col-lg-12 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .card {
        margin-top: 10px;
    }

    #chromaCanvas {
        background-image: url(https://geographical.co.uk/media/k2/items/cache/e533c4b8d2d2d3798f3271c35ca6e050_XL.jpg);
        background-repeat: no-repeat;
    }
</style>


<div class="bg-light">
    <div class="row bg-info">
        <div class="col-lg-12 text-center">
            <h2 class="display-4 text-dark"> Saber Chat</h2>
            <p><span id="errorMsg"></span></p>
            <p><span id="annoucement"></span></p>
        </div>
    </div>
    <div class="row bg-info">
        <div class="col-lg-12 text-center">
            <table class="table table-dark table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Client Video Feeds</th>
                        <th scope="col">Other Video Feeds</th>
                        <th scope="col">Manipulated Video On HTML Canvas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="card text-center">
                                <div class="card-body">
                                    <video id="clientVideo" width="508" height="287" class="embed-responsive-16by9" poster="/video/placeholder_video.jpg" playsinline autoplay></video>
                                    <p>
                                        <button class="btn btn-success" id="startRecord">Record</button>
                                        <button class="btn btn-danger" id="stopRecord" disabled>Stop</button>
                                        <a class="btn btn-info disabled" href="#" id="download">Download</a>
                                    </p>
                                </div>
                                <h4 class="card-footer text-dark">Video Element</h4>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <div class="card-body">
                                    <video id="serverVideo" width="508" height="287" class="embed-responsive-16by9" poster="/video/placeholder_video.jpg" playsinline autoplay></video>
                                    <p id="socketLabel" class="text-dark">Ready to connect...</p>
                                    <p>
                                        <button class="btn btn-success" id="connectButton">Connect WebSocket</button>
                                        <button class="btn btn-danger" id="disconnectButton" disabled>Disconnect WebSocket</button>
                                    </p>
                                </div>
                                <h4 class="card-footer text-dark">Server Feed</h4>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <video id="screenShare" width="508" height="287" class="embed-responsive-16by9" poster="/video/placeholder_video.jpg" playsinline autoplay></video>
                                    <p>
                                        <button class="btn btn-success" id="startCapture">Start Capture</button>
                                        <button class="btn btn-danger" id="stopCapture" disabled>Stop Capture</button>
                                    </p>
                                </div>
                                <h4 class="card-footer text-dark">Screen Share</h4>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <div class="card-body">
                                    <canvas id="chromaCanvas" width="508" height="287" class="embed-responsive-16by9"></canvas>
                                    <p>
                                        <button class="btn btn-success" id="startGreenScreen">Start Green Screen</button>
                                        <button class="btn btn-danger" id="stopGreenScreen" disabled>Stop Green Screen</button>
                                    </p>
                                </div>
                                <h4 class="card-footer text-dark">On Canvas With Chroma-keying (Green screen) effect</h4>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <canvas id="tensorCanvas" width="508" height="287" class="embed-responsive-16by9"></canvas>
                                    <p id="tensorLabel" class="text-dark">Ready to Blur...</p>
                                    <p>
                                        <button class="btn btn-success" id="blur">Blur</button>
                                        <button class="btn btn-danger" id="unblur" disabled>UnBlur</button>
                                    </p>
                                </div>
                                <h4 class="card-footer text-dark">On Canvas With Tensorflow background blur</h4>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/recorder.js"></script>
<script type="text/javascript" src="~/js/greenscreen.js"></script>
<script type="text/javascript" src="~/js/screen_capture.js"></script>
<script type="text/javascript" src="~/js/tensorflow.js"></script>
<script type="text/javascript" src="~/js/stream.js"></script>
